$bgc1: #232630;
$bgc2: #3d404d;
$bgc3: #3a89fe;
$bgc4: #575b6b;
$bgc5: #181a24;
$bgc6: #303640;
$borderc1: #393b4a;
$borderc2:#0d0e10;
$borderc3:#454851;
$fontc1: #b4b7c1;
$fontFamily1: "SourceHanSansCN-Regular";
$fontSize1: 14px;
