<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdc.visual.auth.mapper.ColumnPermissionMapper">

    <resultMap id="ColumnPermissionPO" type="com.stdc.visual.auth.entity.permission.po.ColumnPermissionPO">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="authTargetType" column="auth_target_type" jdbcType="VARCHAR"/>
        <result property="authTargetId" column="auth_target_id" jdbcType="BIGINT"/>
        <result property="datasetId" column="dataset_id" jdbcType="VARCHAR"/>
        <result property="permissions" column="permissions" jdbcType="LONGVARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="BASE_SQL">
        `id`, `auth_target_type`, `auth_target_id`, `dataset_id`, `permissions`, `update_time`
    </sql>

    <insert id="save" parameterType="com.stdc.visual.auth.entity.permission.dto.ColumnPermissionDTO">
        INSERT INTO `stdc_visual_dataset_column_permissions` (
        <include refid="BASE_SQL"/>
        )
        VALUES (
        #{id},#{authTargetType},#{authTargetId},#{datasetId},#{permissions},#{updateTime}
        )
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="string">
        DELETE FROM `stdc_visual_dataset_column_permissions`
        WHERE
        `id` = #{id}
    </delete>

    <update id="update" parameterType="com.stdc.visual.auth.entity.permission.dto.ColumnPermissionDTO">
        UPDATE `stdc_visual_dataset_column_permissions`
        <set>
            <if test="authTargetType != null">
                `auth_target_type` = #{authTargetType},
            </if>
            <if test="authTargetId != null">
                `auth_target_id` = #{authTargetId},
            </if>
            <if test="datasetId != null">
                `dataset_id` = #{datasetId},
            </if>
            <if test="permissions != null">
                `permissions` = #{permissions},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE
        `id` = #{id}
    </update>

    <select id="query" parameterType="com.stdc.visual.auth.entity.permission.dto.ColumnPermissionDTO" resultMap="ColumnPermissionPO">
        SELECT
        <include refid="BASE_SQL"/>
        FROM
        `stdc_visual_dataset_column_permissions`
        WHERE TRUE
        <if test="id != null">
            AND `id` = #{id}
        </if>
        <if test="authTargetType != null">
            AND `auth_target_type` = #{authTargetType}
        </if>
        <if test="authTargetId != null">
            AND `auth_target_id` = #{authTargetId}
        </if>
        <if test="datasetId != null">
            AND `dataset_id` = #{datasetId}
        </if>
        <if test="permissions != null">
            AND  `permissions` = #{permissions}
        </if>
    </select>

    <select id="queryAllPermission" resultType="string">
        SELECT
             `stdc_visual_permissions`
        FROM
            `dataset_column_permissions`
    </select>

    <select id="queryAll" resultMap="ColumnPermissionPO">
        SELECT
        <include refid="BASE_SQL"/>
        FROM
        `stdc_visual_dataset_column_permissions`
    </select>




</mapper>
