<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdc.visual.auth.mapper.SysMenuMapper">

    <sql id="selectMenuVo">
        select menu_id, menu_name, parent_id, order_num, path, component, `query`, route_name, is_frame, is_cache, menu_type, visible, status, ifnull(perms,'') as perms, icon, create_time
        from sdtc_visual_sys_menu
    </sql>

    <select id="selectMenuList" parameterType="com.stdc.visual.auth.entity.menu.po.SysMenu"
            resultType="com.stdc.visual.auth.entity.menu.dto.SysMenuDto">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''">
                AND menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuListByUserId" parameterType="com.stdc.visual.auth.entity.menu.po.SysMenu"
            resultType="com.stdc.visual.auth.entity.menu.dto.SysMenuDto">
        select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.`query`, m.route_name, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time
        from sdtc_visual_sys_menu m
        left join sdtc_visual_sys_role_menu rm on m.menu_id = rm.menu_id
        left join sdtc_visual_sys_user_role ur on rm.role_id = ur.role_id
        left join sdtc_visual_sys_role ro on ur.role_id = ro.role_id
        where ur.user_id = #{params.userId}
        <if test="menuName != null and menuName != ''">
            AND m.menu_name like concat('%', #{menuName}, '%')
        </if>
        <if test="visible != null and visible != ''">
            AND m.visible = #{visible}
        </if>
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPermsByUserId" parameterType="string" resultType="string">
        select distinct m.perms
        from stdc_visual_sys_menu m
        left join stdc_visual_sys_role_menu rm on m.menu_id = rm.menu_id
        left join stdc_visual_sys_users_roles ur on rm.role_id = ur.role_id
        left join stdc_visual_sys_role r on r.role_id = ur.role_id
        where m.status = '0' and ur.user_id = #{userId}
    </select>

    <select id="selectMenuPermsByRoleId" parameterType="string" resultType="string">
        select distinct m.perms
        from stdc_visual_sys_menu m
        left join stdc_visual_sys_role_menu rm on m.menu_id = rm.menu_id
        where m.status = '0' and rm.role_id = #{roleId}
    </select>

    <select id="selectMenuTreeAll" resultType="com.stdc.visual.auth.entity.menu.dto.SysMenuDto">
        select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.`query`, m.route_name, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time
        from stdc_visual_sys_menu m where m.menu_type in ('M', 'C') and m.status = 0
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuTreeByUserId" parameterType="string" resultType="com.stdc.visual.auth.entity.menu.dto.SysMenuDto">
        select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.`query`, m.route_name, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time
        from stdc_visual_sys_menu m
        left join stdc_visual_sys_role_menu rm on m.menu_id = rm.menu_id
        left join stdc_visual_sys_user_role ur on rm.role_id = ur.role_id
        left join stdc_visual_sys_role ro on ur.role_id = ro.role_id
        left join stdc_visual_sys_user u on ur.user_id = u.user_id
        where u.user_id = #{userId} and m.menu_type in ('M', 'C') and m.status = 0 AND ro.status = 0
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByRoleId" resultType="long">
        select m.menu_id
        from stdc_visual_sys_menu m
        left join stdc_visual_sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        <if test="menuCheckStrictly">
            and m.menu_id not in (select m.parent_id from stdc_visual_sys_menu m inner join stdc_visual_sys_role_menu rm on m.menu_id = rm.menu_id and rm.role_id = #{roleId})
        </if>
        order by m.parent_id, m.order_num
    </select>

</mapper>
