<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdc.visual.dynamic.mapper.ModelMapper">

	<resultMap id="BaseResultMap" type="com.stdc.visual.dynamic.base.model.po.Model">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="pid" jdbcType="VARCHAR" property="pid" />
		<result column="node_type" jdbcType="VARCHAR" property="nodeType" />
		<result column="model_type" jdbcType="VARCHAR" property="modelType" />
		<result column="model_inner_type" jdbcType="VARCHAR" property="modelInnerType" />
		<result column="auth_type" jdbcType="VARCHAR" property="authType" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="level" jdbcType="BIGINT" property="level" />
		<result column="mode" jdbcType="BIGINT" property="mode" />
		<result column="data_source_id" jdbcType="VARCHAR" property="dataSourceId" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.stdc.visual.dynamic.base.model.po.ModelWithBLOBs">
		<result column="name" jdbcType="LONGVARCHAR" property="name" />
		<result column="label" jdbcType="LONGVARCHAR" property="label" />
	</resultMap>
	<resultMap extends="com.stdc.visual.dynamic.mapper.ModelMapper.ResultMapWithBLOBs" id="ExtResultMap"
			   type="com.stdc.visual.dynamic.base.model.dto.ModelDTO">
		<result column="privileges" jdbcType="VARCHAR" property="privileges"/>
	</resultMap>
    <select id="queryModel" resultMap="ExtResultMap">
		SELECT
			stdc_visual_model.id,
			stdc_visual_model.name,
			stdc_visual_model.label,
			stdc_visual_model.pid,
			stdc_visual_model.node_type,
			stdc_visual_model.model_type,
			stdc_visual_model.model_inner_type,
			stdc_visual_model.auth_type,
			stdc_visual_model.create_by,
			stdc_visual_model.level,
			stdc_visual_model.mode,
			stdc_visual_model.data_source_id
		FROM
			stdc_visual_model
		WHERE
		TRUE
			<if test="record.id != null">
				and stdc_visual_model.id = #{record.id,jdbcType=VARCHAR}
			</if>
			<if test="record.pid != null">
				and stdc_visual_model.pid = #{record.pid,jdbcType=VARCHAR}
			</if>
			<if test="record.nodeType != null">
				and stdc_visual_model.node_type = #{record.nodeType,jdbcType=VARCHAR}
			</if>
			<if test="record.modelType != null">
				and stdc_visual_model.model_type = #{record.modelType,jdbcType=VARCHAR}
			</if>
			<if test="record.modelInnerType != null">
				and stdc_visual_model.model_inner_type = #{record.modelInnerType,jdbcType=VARCHAR}
			</if>
			<if test="record.authType != null">
				and stdc_visual_model.auth_type = #{record.authType,jdbcType=VARCHAR}
			</if>
			<if test="record.createBy != null">
				and stdc_visual_model.create_by = #{record.createBy,jdbcType=VARCHAR}
			</if>
			<if test="record.level != null">
				and stdc_visual_model.`level` = #{record.level,jdbcType=BIGINT}
			</if>
			<if test="record.mode != null">
				<if test="record.mode == 0">
					and stdc_visual_model.`mode` = 0
				</if>
				<if test='record.mode == 1 and record.modelType != null and record.modelType == "dataset"'>
					and (stdc_visual_model.`mode` = 1 or (stdc_visual_model.`model_inner_type` = 'group' and stdc_visual_model.model_type = 'dataset'))
				</if>
			</if>
			<if test="record.dataSourceId != null">
				and stdc_visual_model.data_source_id = #{record.dataSourceId,jdbcType=VARCHAR}
			</if>
			<if test="record.name != null">
				and stdc_visual_model.`name` = #{record.name,jdbcType=LONGVARCHAR}
			</if>
			<if test="record.modelInnerTypeArray != null and record.modelInnerTypeArray.size() > 0">
				and stdc_visual_model.model_inner_type in
				<foreach collection="record.modelInnerTypeArray" item="item" separator="," open="(" close=")">
					#{item}
				</foreach>
			</if>
		ORDER BY
			stdc_visual_model.pid
	</select>

</mapper>
