<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdc.project.mapper.ProjectMapper">

    <select id="getStatistics" resultType="map">
        select
        count(id) as total,
        sum(case when shared = 1 then 1 else 0 end) as shared,
        sum(case when shared = 0 then 1 else 0 end) as unshared
        from stdc_visual_project where is_deleted = 0
    </select>

</mapper>
